.libtest
.vscode
.python-version
__pycache__/
.ruff_cache
.mypy_cache
dist
release/
ml/data/
ml/models/
badwords-ml-model.zip
*.egg-info
.idea
t.py
test.py
.venv
venv
_native/
python/badwords/*.so
target/